.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  box-shadow: 0 8px 32px -6px rgba(0,0,0,0.22), 0 2px 4px rgba(0,0,0,0.08);
  background-color: white;
  z-index: 1000;
  position: sticky;
  top: 0;
}

.home-header .logo a {
  color: rgb(250, 0, 0); 
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}

.home-header .nav-links {
  display: flex;
  gap: 50px;
  padding-bottom: 4px;
}

.home-header .nav-links a {
  color: rgb(0, 0, 0); 
  text-decoration: none;
  font-size: 1em;
  font-size: 20px;
  font-weight: bold;
}

.home-header .nav-link {
  position: relative;
  padding-bottom: 4px; 
}

.home-header .link-text a {
  color: inherit;
  text-decoration: none;
  font-size: 20px; 
  font-weight: bold; 
}

.home-header .underline {
  position: absolute;
  bottom: -20px; 
  left: 0;
  height: 4px;
  background-color: #ff0000; 
}

.home-header .header-icons {
  display: flex;
  gap: 15px;
}

.home-header .header-icons i {
  cursor: pointer;
  font-size: 1.2em;
}

.home-header .header-icons .cart-count {
  position: absolute;
  top: 25px;
  right: 130px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0px 7px;
  font-size: 13px;
  font-weight: bold;
}

.home-header .header-icons .Wishlist-count {
  position: absolute;
  top: 25px;
  right: 80px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0px 7px;
  font-size: 13px;
  font-weight: bold;
}

.list-view {
  position: absolute;
  top: 20px;
  right: -34px;
  background-color: white;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.list-view ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-view ul li {
  padding: 10px 20px;
}

.list-view ul li a,
.list-view ul li button {
  text-decoration: none;
  color: black;
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.list-view ul li a:hover,
.list-view ul li button:hover {
  background-color: red;
  color: white; 
}

.profile-icon-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username {
  margin-top: 5px;
  font-weight: bold;
  color :#ff0000;
}

.profile-icon-container .icon.active {
  color: red;
}